mixin certificates-list-item(href, src, name)
  .col-6.col-sm-4.col-md-6.col-lg-4.col-xl-4
    .canvas
      a(href=href)
        img.img-fluid(src="../../assets/certificates/" + src, alt=name)
        p= name

mixin skill-list-horizontal-item(company, level)
  li
    .skill-list-horizontal__bar(style!=attributes.style)
      strong= company
      span.pull-right= level

mixin skill-list-vertical-item(genre, company)
  li
    .skill-list-vertical__bar(style!=attributes.style)
      strong= genre
      span.company= company

//- Mixin Ends

section#certificates

  h3.page-heading Brövelerim

  .pp
    .row.certificates-list
      +certificates-list-item("#", "gue.png", "GUE")
      +certificates-list-item("#", "tssf.png", "TSSF/CMAS")
      +certificates-list-item("#", "protec.png", "ProTec")
      +certificates-list-item("#", "ssi.png", "SSI")
      +certificates-list-item("#", "ils.png", "Cankurtarma")
      +certificates-list-item("#", "poseidon.png", "Diğer Belgeler")

    h4.section-heading Eğitmenlik Düzeyi:

    ul.skill-list-horizontal
      +skill-list-horizontal-item("TSSF/CMAS", "2* Dalış Eğitmeni")(style="width: calc(100%*5/6)")
      +skill-list-horizontal-item("PROTEC", "2* Dalış Eğitmeni")(style="width: calc(100%*5/6)")
      +skill-list-horizontal-item("PROTEC", "Serbest Dalış Eğitmeni")(style="width: calc(100%*4/6)")

    h4.section-heading Kişisel Gelişim:

    ul.skill-list-vertical
      +skill-list-vertical-item("Mağara Dalışı", "GUE")(style="height: 40%")
      +skill-list-vertical-item("CCR", "SF2")(style="height: 60%")
      +skill-list-vertical-item("Carkurtarma", "ILS/TSSF")(style="height: 85%")

      .label-beginner Beginner
      .line-beginner
      .label-inter Intermediate
      .line-inter
      .label-adv Advanced
      .line-adv
      .label-guru Instructor
      .line-guru
